In [27]:
import pandas as pd
import numpy as np
import json

In [28]:
purchase_file = "purchase_data.json"

In [29]:
purchase_file_df = pd.read_json(purchase_file)

In [30]:
purchase_file_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [31]:
purchase_file_df.shape

(780, 6)

In [32]:
# Check to see if there are any rows missing data 
purchase_file_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 6 columns):
Age          780 non-null int64
Gender       780 non-null object
Item ID      780 non-null int64
Item Name    780 non-null object
Price        780 non-null float64
SN           780 non-null object
dtypes: float64(1), int64(2), object(3)
memory usage: 36.6+ KB

In [33]:
# Remove the rows with missing data
purchase_file_df = purchase_file_df.dropna(how='any')

In [34]:
# Count the total number of unique players
player_count=purchase_file_df["SN"].nunique()
player_count

573

In [35]:
# Calculate the total number of unique items in "Item ID" or "Item Name"
item_id=purchase_file_df["Item ID"].nunique()
item_id

183

In [36]:
# Calculate the average purchase price
purchase_file_df["Price"].mean()

2.931192307692303

In [37]:
# Calculate the total number of purchases greater than 0... 
purchase_file_df["Price"].count()

780

In [38]:
# Calculate the total number of revenue
purchase_file_df["Price"].sum()

2286.3299999999963

In [40]:
# Count of group gender category by number of unique players
gender_data=purchase_file_df.groupby('Gender')['SN'].nunique()
print(gender_data)

Gender
Female                   100
Male                     465
Other / Non-Disclosed      8
Name: SN, dtype: int64

In [47]:
# Percentage of group gender category
percent_gender=purchase_file_df.groupby('Gender')['SN'].nunique()/player_count*100
print(percent_gender)

Gender
Female                   17.452007
Male                     81.151832
Other / Non-Disclosed     1.396161
Name: SN, dtype: float64

In [48]:
gender_purchase=purchase_file_df.groupby('Gender')['Item ID'].count()
print(gender_purchase)

Gender
Female                   136
Male                     633
Other / Non-Disclosed     11
Name: Item ID, dtype: int64