In [2]:
import pandas as pd
import numpy as np
import json

In [3]:
purchase_file = "purchase_data.json"

In [4]:
purchase_file_df = pd.read_json(purchase_file)

In [5]:
purchase_file_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [6]:
purchase_file_df.shape

(780, 6)

In [7]:
# Check to see if there are any rows missing data 
purchase_file_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 6 columns):
Age          780 non-null int64
Gender       780 non-null object
Item ID      780 non-null int64
Item Name    780 non-null object
Price        780 non-null float64
SN           780 non-null object
dtypes: float64(1), int64(2), object(3)
memory usage: 36.6+ KB

In [8]:
# Remove the rows with missing data
purchase_file_df = purchase_file_df.dropna(how='any')

In [9]:
# Count the total number of unique players
player_count=purchase_file_df["SN"].nunique()
player_count

573

In [10]:
# Calculate the total number of unique items in "Item ID" or "Item Name"
item_id=purchase_file_df["Item ID"].nunique()
item_id

183

In [11]:
# Calculate the average purchase price
purchase_file_df["Price"].mean()

2.931192307692303

In [12]:
# Calculate the total number of purchases greater than 0... 
purchase_file_df["Price"].count()

780

In [13]:
# Calculate the total number of revenue
purchase_file_df["Price"].sum()

2286.3299999999963

In [14]:
# Count of group gender category by number of unique players
gender_data=purchase_file_df.groupby('Gender')['SN'].nunique()
print(gender_data)

Gender
Female                   100
Male                     465
Other / Non-Disclosed      8
Name: SN, dtype: int64

In [15]:
# Percentage of group gender category
percent_gender=purchase_file_df.groupby('Gender')['SN'].nunique()/player_count*100
print(percent_gender)

Gender
Female                   17.452007
Male                     81.151832
Other / Non-Disclosed     1.396161
Name: SN, dtype: float64

In [16]:
# Count of gender purchases
gender_purchase=purchase_file_df.groupby('Gender')['Item ID'].count()
print(gender_purchase)

Gender
Female                   136
Male                     633
Other / Non-Disclosed     11
Name: Item ID, dtype: int64

In [17]:
# Average purchase price broken down by gender
gender_average=purchase_file_df.groupby('Gender')['Price'].mean()
print(gender_average)

Gender
Female                   2.815515
Male                     2.950521
Other / Non-Disclosed    3.249091
Name: Price, dtype: float64

In [18]:
# Total purchase value broken down by gender
gender_total=purchase_file_df.groupby('Gender')['Price'].sum()
print(gender_total)

Gender
Female                    382.91
Male                     1867.68
Other / Non-Disclosed      35.74
Name: Price, dtype: float64

In [19]:
# Average Age 
avg_age=purchase_file_df["Age"].mean()
avg_age

22.72948717948718

In [20]:
# Median Age
median_age=purchase_file_df["Age"].median()
median_age

22.0

In [21]:
# Min age
min_age=purchase_file_df["Age"].min()
min_age

7

In [22]:
# Max age
max_age=purchase_file_df["Age"].max()
max_age

45

In [23]:
# Create bins for age demographics
# Bins are 0 to 18, 18 to 34, 34 to 50 
bins = [0, 18, 34, 50]

# Create names for the bins
age_groups = ['GenZ', 'Millennials', 'GenX']

In [24]:
pd.cut(purchase_file_df["Age"], bins, labels=age_groups)

0             GenX
1      Millennials
2      Millennials
3      Millennials
4      Millennials
5      Millennials
6      Millennials
7      Millennials
8      Millennials
9      Millennials
10     Millennials
11     Millennials
12     Millennials
13     Millennials
14            GenX
15     Millennials
16     Millennials
17     Millennials
18     Millennials
19     Millennials
20     Millennials
21            GenZ
22            GenZ
23     Millennials
24            GenZ
25     Millennials
26     Millennials
27     Millennials
28            GenZ
29            GenZ
          ...
750    Millennials
751    Millennials
752           GenZ
753    Millennials
754    Millennials
755    Millennials
756    Millennials
757           GenX
758    Millennials
759    Millennials
760    Millennials
761    Millennials
762           GenX
763    Millennials
764    Millennials
765           GenZ
766    Millennials
767    Millennials
768    Millennials
769    Millennials
770    Millennials
771    Millennials
772           GenZ
773    Millennials
774    Millennials
775    Millennials
776           GenZ
777    Millennials
778    Millennials
779    Millennials
Name: Age, Length: 780, dtype: category
Categories (3, object): [GenZ < Millennials < GenX]

In [25]:
purchase_file_df["Age Summary"] = pd.cut(purchase_file_df["Age"], bins, labels=age_groups)
purchase_file_df

,Age,Gender,Item ID,Item Name,Price,SN,Age Summary
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,GenX
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,Millennials
2,34,Male,174,Primitive Blade,2.46,Assastnya25,Millennials
3,21,Male,92,Final Critic,1.36,Pheusrical25,Millennials
4,23,Male,63,Stormfury Mace,1.27,Aela59,Millennials
5,20,Male,10,Sleepwalker,1.73,Tanimnya91,Millennials
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97,Millennials
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29,Millennials
8,25,Male,118,"Ghost Reaver, Longsword of Magic",2.77,Sondenasta63,Millennials
9,31,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Hilaerin92,Millennials
10,24,Male,57,"Despair, Favor of Due Diligence",3.81,Chamosia29,Millennials
11,20,Male,47,"Alpha, Reach of Ending Hope",1.55,Sally64,Millennials
12,30,Male,81,Dreamkiss,4.06,Iskossa88,Millennials
13,23,Male,77,"Piety, Guardian of Riddles",3.68,Seorithstilis90,Millennials
14,40,Male,44,Bonecarvin Battle Axe,2.46,Sundast29,GenX
15,21,Male,96,Blood-Forged Skeletal Spine,4.77,Haellysu29,Millennials
16,22,Female,123,Twilight's Carver,1.14,Sundista85,Millennials
17,22,Female,59,"Lightning, Etcher of the King",1.65,Aenarap34,Millennials
18,28,Male,91,Celeste,3.71,Iskista88,Millennials
19,31,Male,177,"Winterthorn, Defender of Shifting Worlds",4.89,Assossa43,Millennials
20,24,Male,78,"Glimmer, Ender of the Moon",2.33,Irith83,Millennials
21,15,Male,3,Phantomlight,1.79,Iaralrgue74,GenZ
22,11,Female,11,Brimstone,2.52,Deural48,GenZ
23,19,Male,183,Dragon's Greatsword,2.36,Chanosia65,Millennials
24,11,Male,65,Conqueror Adamantite Mace,1.96,Qarwen67,GenZ
25,21,Male,63,Stormfury Mace,1.27,Idai61,Millennials
26,29,Male,132,Persuasion,3.90,Aerithllora36,Millennials
27,34,Male,106,Crying Steel Sickle,2.29,Assastnya25,Millennials
28,15,Male,49,"The Oculus, Token of Lost Worlds",4.23,Ilariarin45,GenZ
29,16,Female,45,Glinting Glass Edge,2.46,Phaedai25,GenZ
...,...,...,...,...,...,...,...
750,23,Male,86,Stormfury Lantern,1.28,Eollym91,Millennials
751,26,Female,179,"Wolf, Promise of the Moonwalker",1.88,Lisjasksda68,Millennials
752,15,Female,116,Renewed Skeletal Katana,2.37,Yalostiphos68,GenZ
753,20,Male,4,Bloodlord's Fetish,2.28,Thryallym62,Millennials
754,31,Male,104,Gladiator's Glaive,1.36,Sondastan54,Millennials
755,22,Female,179,"Wolf, Promise of the Moonwalker",1.88,Ailaesuir66,Millennials
756,22,Male,6,Rusty Skull,1.20,Siasri67,Millennials
757,35,Male,11,Brimstone,2.52,Seosri62,GenX
758,20,Male,122,Unending Tyranny,1.21,Ryastycal90,Millennials
759,19,Male,87,"Deluge, Edge of the West",2.20,Chanirrasta87,Millennials
760,29,Male,81,Dreamkiss,4.06,Aerithllora36,Millennials
761,28,Male,175,Woeful Adamantite Claymore,1.24,Raeduerin33,Millennials
762,36,Male,52,Hatred,4.39,Lisosiast26,GenX
763,27,Other / Non-Disclosed,48,"Rage, Legacy of the Lone Victor",4.32,Eurisuru25,Millennials
764,25,Male,70,Hope's End,3.89,Assassasda84,Millennials
765,15,Male,13,Serenity,1.49,Aerithnucal56,GenZ
766,22,Female,84,Arcane Gem,2.23,Nitherian58,Millennials
767,20,Male,122,Unending Tyranny,1.21,Hailaphos89,Millennials
768,21,Male,158,"Darkheart, Butcher of the Champion",3.56,Chamucosda93,Millennials
769,24,Male,73,Ritual Mace,3.74,Frichilsasya78,Millennials
770,22,Male,141,Persuasion,3.27,Aenasu69,Millennials
771,24,Male,25,Hero Cane,1.03,Lassista97,Millennials
772,15,Male,31,Trickster,2.07,Sidap51,GenZ
773,21,Male,44,Bonecarvin Battle Axe,2.46,Chamadarsda63,Millennials
774,24,Male,123,Twilight's Carver,1.14,Lassassast73,Millennials
775,22,Male,98,"Deadline, Voice Of Subtlety",3.62,Eural50,Millennials
776,14,Male,104,Gladiator's Glaive,1.36,Lirtossa78,GenZ
777,20,Male,117,"Heartstriker, Legacy of the Light",4.15,Tillyrin30,Millennials
778,20,Male,75,Brutality Ivory Warmace,1.72,Quelaton80,Millennials
779,23,Female,107,"Splitter, Foe Of Subtlety",3.61,Alim85,Millennials

In [26]:
# Total number of purchases broken down by age group  
purchase_file_df.groupby("Age Summary")["Price"].count()

Age Summary
GenZ           174
Millennials    547
GenX            59
Name: Price, dtype: int64

In [27]:
# Average purchase price broken down by age group
purchase_file_df.groupby("Age Summary")["Price"].mean()

Age Summary
GenZ           2.872011
Millennials    2.949634
GenX           2.934746
Name: Price, dtype: float64

In [28]:
# Total purchase amount broken down by age group
purchase_file_df.groupby("Age Summary")["Price"].sum()

Age Summary
GenZ            499.73
Millennials    1613.45
GenX            173.15
Name: Price, dtype: float64

In [29]:
# Number of purchases by player
player_purchase_df=purchase_file_df.groupby("SN")["Price"].count().sort_values(ascending=False)
df1=pd.DataFrame(player_purchase_df)
df1.rename(columns={'Price':'Number of Purchases'}, inplace=True)
df1.reset_index
df1

                 Number of Purchases
SN
Undirrala66                        5
Hailaphos89                        4
Mindimnya67                        4
Qarwen67                           4
Sondastan54                        4
Saedue76                           4
Chadjask77                         3
Frichosiala98                      3
Aerithllora36                      3
Chanastsda67                       3
Ialistidru50                       3
Lisistaya47                        3
Ila44                              3
Isurria36                          3
Yadanun74                          3
Isursti83                          3
Tillyrin30                         3
Eoda93                             3
Haellysu29                         3
Haerith37                          3
Seorithstilis90                    3
Lisossa63                          3
Frichaya88                         3
Yasriphos60                        3
Aduephos78                         3
Chadossa56                         3
Chamistast30                       3
Aeduera68                          3
Mindirra92                         3
Lirtosia72                         3
...                              ...
Phaestycal84                       1
Lisistasya93                       1
Mindassast27                       1
Lisjaskya84                        1
Lisosianya62                       1
Lisossanya98                       1
Malista67                          1
Marassanya92                       1
Marassaya49                        1
Marilsa48                          1
Marilsanya48                       1
Marilsasya33                       1
Marjasksda39                       1
Marundi65                          1
Mindadaran26                       1
Mindetosya30                       1
Phaeduesurgue38                    1
Mindjasksya61                      1
Mindosiasya28                      1
Mindossa76                         1
Mindossasya74                      1
Minduli80                          1
Nitherian58                        1
Palatyon26                         1
Palurrian69                        1
Phadai31                           1
Phadue96                           1
Phaedai25                          1
Phaedan76                          1
Adairialis76                       1

[573 rows x 1 columns]

In [30]:
# Avergage purchase by player
player_avg_df=purchase_file_df.groupby("SN")["Price"].mean().sort_values(ascending=False)
df2=pd.DataFrame(player_avg_df)
df2.rename(columns={'Price':'Average Purchases'}, inplace=True)
df2.reset_index
df2

               Average Purchases
SN
Tyarithn67                 4.950
Palurrian69                4.950
Qiluard68                  4.950
Frichaststa61              4.950
Syathe73                   4.890
Assossa43                  4.890
Iasur80                    4.870
Hiasur92                   4.870
Ilophos58                  4.870
Idaria87                   4.870
Anallorgue57               4.870
Iskista96                  4.830
Tyeuladeu30                4.820
Heosrisuir72               4.820
Eustyria89                 4.750
Phenastya51                4.750
Heuralsti66                4.750
Irithrap69                 4.750
Marilsa48                  4.750
Quarunarn52                4.750
Iskichinya81               4.670
Riralsti91                 4.670
Aesur96                    4.660
Minduli80                  4.620
Sondim68                   4.620
Lirtossa84                 4.620
Tyisriphos58               4.590
Undjaskla97                4.570
Assassasta79               4.560
Saelaephos52               4.560
...                          ...
Isketo41                   1.320
Tyaili86                   1.280
Eollym91                   1.280
Chamirra53                 1.280
Aela59                     1.270
Lassilsa63                 1.270
Ilaststa70                 1.270
Raeduerin33                1.240
Mindosiasya28              1.240
Ialidru40                  1.240
Heolo60                    1.240
Yaristi64                  1.240
Ilrian97                   1.240
Zhisrisu83                 1.230
Ryastycal90                1.210
Siasri67                   1.200
Ilast79                    1.200
Undirrasta74               1.160
Sundista85                 1.140
Chamirrasya33              1.110
Sondassa68                 1.060
Eyircil84                  1.060
Lirtassa47                 1.045
Tridaira71                 1.030
Rarith48                   1.030
Mindossa76                 1.030
Alaesu91                   1.030
Lassadarsda57              1.030
Lassista97                 1.030
Ililsan66                  1.030

[573 rows x 1 columns]

In [31]:
new_df=df1.join(df2)
new_df

                 Number of Purchases  Average Purchases
SN
Undirrala66                        5           3.412000
Hailaphos89                        4           1.467500
Mindimnya67                        4           3.185000
Qarwen67                           4           2.492500
Sondastan54                        4           2.560000
Saedue76                           4           3.390000
Chadjask77                         3           3.336667
Frichosiala98                      3           2.980000
Aerithllora36                      3           3.483333
Chanastsda67                       3           2.986667
Ialistidru50                       3           2.446667
Lisistaya47                        3           3.063333
Ila44                              3           2.613333
Isurria36                          3           3.670000
Yadanun74                          3           3.030000
Isursti83                          3           3.683333
Tillyrin30                         3           3.063333
Eoda93                             3           3.860000
Haellysu29                         3           4.243333
Haerith37                          3           3.380000
Seorithstilis90                    3           2.796667
Lisossa63                          3           1.973333
Frichaya88                         3           3.053333
Yasriphos60                        3           3.466667
Aduephos78                         3           2.233333
Chadossa56                         3           2.616667
Chamistast30                       3           1.496667
Aeduera68                          3           1.933333
Mindirra92                         3           3.003333
Lirtosia72                         3           2.790000
...                              ...                ...
Phaestycal84                       1           3.620000
Lisistasya93                       1           3.910000
Mindassast27                       1           2.070000
Lisjaskya84                        1           3.110000
Lisosianya62                       1           1.550000
Lisossanya98                       1           2.230000
Malista67                          1           3.010000
Marassanya92                       1           4.370000
Marassaya49                        1           2.720000
Marilsa48                          1           4.750000
Marilsanya48                       1           4.160000
Marilsasya33                       1           2.070000
Marjasksda39                       1           2.190000
Marundi65                          1           4.070000
Mindadaran26                       1           2.720000
Mindetosya30                       1           2.310000
Phaeduesurgue38                    1           4.230000
Mindjasksya61                      1           3.890000
Mindosiasya28                      1           1.240000
Mindossa76                         1           1.030000
Mindossasya74                      1           2.170000
Minduli80                          1           4.620000
Nitherian58                        1           2.230000
Palatyon26                         1           3.470000
Palurrian69                        1           4.950000
Phadai31                           1           2.780000
Phadue96                           1           3.150000
Phaedai25                          1           2.460000
Phaedan76                          1           1.840000
Adairialis76                       1           2.460000

[573 rows x 2 columns]

In [32]:
# Total purchase by player
player_total_df=purchase_file_df.groupby("SN")["Price"].sum().sort_values(ascending=False)
df3=pd.DataFrame(player_total_df)
df3.rename(columns={'Price':'Total Purchase Amount'}, inplace=True)
df3.head()

             Total Purchase Amount
SN
Undirrala66                  17.06
Saedue76                     13.56
Mindimnya67                  12.74
Haellysu29                   12.73
Eoda93                       11.58

In [33]:
#Identify top 5 spenders based on total purchase amount
combined_df=new_df.join(df3)
combined_df.sort_values("Total Purchase Amount", ascending=False)

               Number of Purchases  Average Purchases  Total Purchase Amount
SN
Undirrala66                      5           3.412000                  17.06
Saedue76                         4           3.390000                  13.56
Mindimnya67                      4           3.185000                  12.74
Haellysu29                       3           4.243333                  12.73
Eoda93                           3           3.860000                  11.58
Isursti83                        3           3.683333                  11.05
Isurria36                        3           3.670000                  11.01
Eusri70                          3           3.516667                  10.55
Aerithllora36                    3           3.483333                  10.45
Yasriphos60                      3           3.466667                  10.40
Sondastan54                      4           2.560000                  10.24
Haerith37                        3           3.380000                  10.14
Chadjask77                       3           3.336667                  10.01
Qarwen67                         4           2.492500                   9.97
Sondim43                         3           3.126667                   9.38
Tillyrin30                       3           3.063333                   9.19
Lisistaya47                      3           3.063333                   9.19
Tyisriphos58                     2           4.590000                   9.18
Frichaya88                       3           3.053333                   9.16
Assassasta79                     2           4.560000                   9.12
Lisossan98                       2           4.550000                   9.10
Yadanun74                        3           3.030000                   9.09
Mindirra92                       3           3.003333                   9.01
Aeliru63                         2           4.490000                   8.98
Chanastsda67                     3           2.986667                   8.96
Frichosiala98                    3           2.980000                   8.94
Malunil62                        2           4.445000                   8.89
Iskadarya95                      2           4.395000                   8.79
Ilogha82                         2           4.305000                   8.61
Yadaisuir65                      2           4.280000                   8.56
...                            ...                ...                    ...
Chrathybust28                    1           1.360000                   1.36
Pheusrical25                     1           1.360000                   1.36
Isketo41                         1           1.320000                   1.32
Tyaili86                         1           1.280000                   1.28
Chamirra53                       1           1.280000                   1.28
Eollym91                         1           1.280000                   1.28
Ilaststa70                       1           1.270000                   1.27
Lassilsa63                       1           1.270000                   1.27
Aela59                           1           1.270000                   1.27
Heolo60                          1           1.240000                   1.24
Yaristi64                        1           1.240000                   1.24
Raeduerin33                      1           1.240000                   1.24
Ilrian97                         1           1.240000                   1.24
Mindosiasya28                    1           1.240000                   1.24
Ialidru40                        1           1.240000                   1.24
Ryastycal90                      1           1.210000                   1.21
Ilast79                          1           1.200000                   1.20
Siasri67                         1           1.200000                   1.20
Undirrasta74                     1           1.160000                   1.16
Sundista85                       1           1.140000                   1.14
Chamirrasya33                    1           1.110000                   1.11
Eyircil84                        1           1.060000                   1.06
Sondassa68                       1           1.060000                   1.06
Alaesu91                         1           1.030000                   1.03
Mindossa76                       1           1.030000                   1.03
Lassadarsda57                    1           1.030000                   1.03
Ililsan66                        1           1.030000                   1.03
Lassista97                       1           1.030000                   1.03
Rarith48                         1           1.030000                   1.03
Tridaira71                       1           1.030000                   1.03

[573 rows x 3 columns]

In [53]:
# Identify 5 most popular items by purchase count
popular_item=purchase_file_df.groupby("Item Name")["Price"].count().sort_values(ascending=False)
df4=pd.DataFrame(popular_item)
df4.reset_index
df4.rename(columns={'Price':'Purchase Count'}, inplace=True)
df4.head()

                                      Purchase Count
Item Name
Final Critic                                      14
Betrayal, Whisper of Grieving Widows              11
Arcane Gem                                        11
Stormcaller                                       10
Woeful Adamantite Claymore                         9

In [68]:
item_name=purchase_file_df.groupby("Item Name")["Item ID"].value_counts()
df5=pd.DataFrame(item_name)
df5.reset_index
df5.head()

                                        Item ID
Item Name                      Item ID
Abyssal Shard                  162            3
Aetherius, Boon of the Blessed 137            4
Agatha                         120            5
Alpha                          130            7
Alpha, Oath of Zeal            79             7

In [59]:
# Identify Total Purchase Amount of popular items
item_price=purchase_file_df.groupby("Item Name")["Price"].sum().sort_values(ascending=False)
df5=pd.DataFrame(item_price)
df5.reset_index
df5.rename(columns={'Price':'Total Purchase Amount'}, inplace=True)
df5.head()

                            Total Purchase Amount
Item Name
Final Critic                                38.60
Retribution Axe                             37.26
Stormcaller                                 34.65
Spectral Diamond Doomblade                  29.75
Orenmir                                     29.70